@import '~/scss/mixins';
@import '~/scss/variables';

.AudioPlayer {
  @include shadow-md;
  background-color: white;
  border-top: 1px solid $border;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 1rem;
    position: relative;
    width: 100%;
  }

  &__info {
    align-items: center;
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  &__image {
    height: 4rem;
    width: 4rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10rem;

    a:hover {
      text-decoration: underline;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    max-width: 40rem;
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__currentTime,
  &__duration {
    font-size: 0.75rem;
    text-align: center;
    width: 3rem;
  }

  &__trackerContainer {
    flex: 1;
    height: 0.5rem;
    position: relative;
    width: 100%;
  }

  #tracker {
    background-color: $border;
    border-radius: 0.25rem;
    height: 0.5rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  #tracked {
    background-color: oc-get-color('primary', '9');
    border-radius: 0.25rem;
    height: 0.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
  }
}

@include breakpoint('md') {
  .hideOnMobile {
    display: none !important;
  }
}
